{#
/**
 * @file
 * Theme implementation for a details element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the details element.
 * - errors: (optional) Any errors for this details element, may not be set.
 * - title: (optional) The title of the element, may not be set.
 * - summary_attributes: A list of HTML attributes for the summary element.
 * - description: (optional) The description of the element, may not be set.
 * - children: (optional) The children of the element, may not be set.
 * - value: (optional) The value of the element, may not be set.
 *
 * @see template_preprocess_details()
 */
#}
{% set details_content %}
  {% if errors %}
    <div>{{ errors }}</div>
  {% endif %}

  {{ children }}
  {{ value }}
{% endset %}

{% include '@components/details/details.twig' with {
  'attributes': attributes,
  'required': required,
  'details_summary': title ? title : 'Details'|t,
  'details_description': description,
  'details_content': details_content,
} %}
