{#
/**
 * @file
 * Theme implementation for a radios form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered radios.
 *
 * @see template_preprocess_radios()
 */
#}
{# 'form-radios' is a Drupal core class used by some modules (e.g., webform) #}
{% include '@components/form-item/form-item--radios/form-item--radios.twig' with {
  'attributes': attributes.addClass('form-radios'),
} %}
