{#
/**
 * @file
 * Theme implementation for a select form element.
 *
 * Available variables:
 * - attributes: HTML attributes for the <select> tag.
 * - options: The <option> element children.
 *
 * @see template_preprocess_select()
 */
#}
{% set remove_classes = [
  'form-select',
  'required',
] %}

{% include '@components/form-item/form-item--select/_select.twig' with {
  'attributes': attributes.removeClass(remove_classes),
} %}
