{#
/**
 * @file
 * Theme implementation for a textarea form element.
 *
 * Available variables
 * - wrapper_attributes: A list of HTML attributes for the wrapper element.
 * - attributes: A list of HTML attributes for the <textarea> element.
 * - resizable: An indicator for whether the textarea is resizable.
 * - required: An indicator for whether the textarea is required.
 * - value: The textarea content.
 *
 * @see template_preprocess_textarea()
 */
#}
{% set modifier_classes = [
  resizable ? 'is-resizable',
]|join(' ')|trim %}

{% set remove_classes = [
  'form-textarea',
  'required',
] %}

{% include '@components/form-item/form-item--textarea/_textarea.twig' with {
  'attributes': attributes.removeClass(remove_classes),
  'modifier_classes': modifier_classes,
} %}
