{#
/**
 * @file
 * Theme implementation to display a paragraph.
 *
 * The default USWDS hero component expects hero_image to be a URL to the hero
 * image to be used as a background image.
#}
{% include '@uswds/hero/hero.twig' with {
  'attributes': attributes,
  'modifier_classes': paragraph.field_hero_alignment.value ? 'has-content-' ~ paragraph.field_hero_alignment.value : '',
  'has_overlay': paragraph.field_hero_has_overlay is not empty ? paragraph.field_hero_has_overlay.value : false,
  'hero_image': content.field_hero_image|field_value,
  'hero_title': content.field_hero_heading|field_value is not empty ? content.field_hero_heading|field_value : false,
  'hero_summary': content.field_hero_body|field_value is not empty ? content.field_hero_body|field_value : false,
  'hero_button_text': paragraph.field_hero_link.title is not empty ? paragraph.field_hero_link.title : false,
  'hero_button_url': paragraph.field_hero_link.uri is not empty ? paragraph.field_hero_link.uri : false,
} %}

{#
  field_hero_link and field_hero_aligment are intentionally omitted from the
  |without list because specific values are extracted from them, bypassing the
  normal render process.
#}
{% set catch_cache = content|without('field_hero_image', 'field_hero_heading', 'field_hero_body') %}
