// Component: Video

@use 'sass:math';
@use '00-config' as *;

$video-aspect-ratio: math.div(9, 16); // 16:9

.c-video {
  &.has-iframe {
    height: 0;
    max-width: 100%;
    padding-block-end: $video-aspect-ratio * 100%;
    position: relative;
  }
}

.c-video__iframe {
  height: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  position: absolute;
  width: 100%;
}
