{% set classes = [
  'c-view',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

<{{ element ?: 'div' }} {{ add_attributes({ 'class': classes })}}>
  {{ title_prefix }}
  {% if title and not hide_title %}
    <{{ title_element ?: 'h2' }}>{{ title }}</{{ title_element ?: 'h2' }}>
  {% endif %}
  {{ title_suffix }}

  {% if header %}
    <div class="c-view__header">
      {{- header -}}
    </div>
  {% endif %}

  {% if exposed %}
    <div class="c-view__exposed">
      {{- exposed -}}
    </div>
  {% endif %}

  {{ attachment_before }}

  {% if rows %}
    {{- rows -}}
  {% elseif empty %}
    <div class="c-view__empty">
      {{- empty -}}
    </div>
  {% endif %}

  {{ pager }}
  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <div class="c-view__footer">
      {{- footer -}}
    </div>
  {% endif %}

  {{ feed_icons }}
</{{ element ?: 'div' }}>
