// HTML Element: Definition List

@use '00-config' as *;

dd {
  margin-block-end: rem(gesso-spacing(2));
  padding-inline-start: rem(gesso-spacing(3));

  dt + & {
    margin-block-start: 0;
  }
}

dl {
  margin-block-end: rem(gesso-spacing(2));
}

// dt {}
