// HTML Element: Unordered List

@use 'sass:math';
@use '00-config' as *;

ul {
  @extend %usa-list;
  list-style-type: disc;
  padding-inline: 3ch 0;

  ol,
  ul {
    margin-block-start: rem(gesso-spacing(1));
  }
}
