// Storybook: Font

@use '00-config' as *;

.gesso-storybook-font {
  margin-block-end: rem(45px);
}

.gesso-storybook-font__family {
  font-size: rem(20px);
  font-weight: 700;
  margin-block-end: rem(5px);
  text-align: center;

  @include breakpoint(800px) {
    text-align: start;
  }
}

.gesso-storybook-font__item {
  display: flex;
  flex-direction: column;
  margin: rem(30px) 0;

  @include breakpoint(800px) {
    flex-direction: row;
  }
}

.gesso-storybook-font__preview {
  border-block-end: 2px solid #eee;
  font-size: rem(18px);
  font-style: normal;
  font-weight: 400;
  padding: rem(20px) 0;
  text-align: center;
  width: 100%;

  @include breakpoint(800px) {
    border-block-end: 0;
    border-inline-end: 2px solid #eee;
    margin: rem(5px) rem(30px) 0 0;
    padding: 0 rem(20px);
    text-align: start;
    width: 65%;
  }
}

.gesso-storybook-font__preview-character {
  font-size: rem(75px);
  font-weight: 400;
  line-height: 1;
  text-align: center;
  width: 100%;

  @include breakpoint(800px) {
    flex-shrink: 0;
    text-align: start;
    width: 35%;
  }
}

.gesso-storybook-font__preview-meta {
  text-align: center;
  width: 100%;

  @include breakpoint(800px) {
    text-align: start;
  }
}

.gesso-storybook-font__label {
  color: #999;
}

.gesso-storybook-font__name {
  color: #565454;
  font-size: 0.9rem;
  line-height: 1.5;
  margin: rem(5px) 0;
}

.gesso-storybook-font__weight {
  color: #000;
  font-size: rem(13px);
  margin-block-end: rem(5px);
}

.gesso-storybook-font__style {
  color: #000;
  font-size: rem(13px);
  margin-block-end: rem(5px);
}
