{#
/**
 * @file
 * Theme implementation for a facets summary item list.
 *
 * Available variables:
 * - items: A list of items. Each item contains:
 *   - attributes: HTML attributes to be applied to each list item.
 *   - value: The content of the list element.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - wrapper_attributes: HTML attributes to be applied to the list wrapper.
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 * - context: A list of contextual data associated with the list. May contain:
 *   - list_style: The custom list style.
 *
 * @see facets_summary_preprocess_facets_summary_item_list()
 */
#}
{% set reset_url = url('<current>') %}

{% if items %}
  {% include '@components/filters/filters.twig' with {
    'attributes': attributes,
    'items': items,
    'list_type': list_type,
    'empty': empty,
    'reset_url': reset_url,
    'show_filters': true,
  } %}
{% endif %}
