{#
/**
 * @file
 * Theme implementation for a facets result item.
 *
 * Available variables:
 * - value: The item value.
 * - raw_value: The raw item value.
 * - show_count: If this facet provides count.
 * - count: The amount of results.
 * - is_active: The item is active.
 * - facet: The facet for this result item.
 *   - id: the machine name for the facet.
 *   - label: The facet label.
 */
#}
{% include '@components/filters/filter.twig' with {
  'value': value,
  'hide_link': true,
} %}
