{#
/**
 * @file
 * Theme implementation for a feed icon.
 *
 * Available variables:
 * - url: An internal system path or a fully qualified external URL of the feed.
 * - title: Title of the feed for describing the feed on the subscribe link.
 * - attributes: Remaining HTML attributes for the feed link.
 *   - title: A descriptive title of the feed link.
 *   - class: HTML classes to be applied to the feed link.
 */
#}
{% include '@components/rss-feed/rss-feed.twig' with {
  'attributes': attributes,
  'url': url,
  'link_text': 'Subscribe to @title'|t({'@title': title}),
} %}
