{#
/**
 * @file
 * Theme implementation for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}
{% for type, messages in message_list %}
  {% set message_content %}
    {% if messages|length > 1 %}
      <ul>
        {% for message in messages -%}
          <li>{{ message }}</li>
        {%- endfor %}
      </ul>
    {% else %}
      <p class="usa-alert__text">{{ messages|first }}</p>
    {% endif %}
  {% endset %}

  {% if type == 'status' %}
    {% include '@uswds/alert/alert.twig' with {
      'attributes': attributes,
      'modifier_classes': 'usa-alert--success',
      'title': status_headings[type],
      'content': message_content
    } %}
  {% elseif type == 'error' %}
    {% include '@uswds/alert/alert.twig' with {
      'attributes': attributes,
      'modifier_classes': 'usa-alert--error',
      'role': 'alert',
      'title': status_headings[type],
      'content': message_content
    } %}
  {% elseif type == 'warning' %}
    {% include '@uswds/alert/alert.twig' with {
      'attributes': attributes,
      'modifier_classes': 'usa-alert--warning',
      'title': status_headings[type],
      'content': message_content
    } %}
  {% else %}
    {% include '@uswds/alert/alert.twig' with {
      'attributes': attributes,
      'modifier_classes': 'usa-alert--info',
      'title': status_headings[type],
      'content': message_content
    } %}
  {% endif %}
{% endfor %}
