// Storybook: Color Swatches

@use 'sass:math';
@use '00-config' as *;

$swatch-size: rem(150px);
$swatch-padding: 1rem;

.gesso-storybook-color__group {
  border-block-end: 1px solid #eee;
  display: flex;
  flex-wrap: wrap;
  margin-block-end: $swatch-padding;
}

.gesso-storybook-color-swatch {
  border: 1px solid #c1c1c1;
  flex: 0 0 ($swatch-size + 2 * $swatch-padding);
  margin: 0 math.div($swatch-padding, 2) $swatch-padding;
  max-width: ($swatch-size + 2 * $swatch-padding);
  padding: $swatch-padding;
}

.gesso-storybook-color-swatch__indicator {
  height: $swatch-size;
  margin-block-end: $swatch-padding;
  width: $swatch-size;
}

.gesso-storybook-color-swatch__meta {
  line-height: 1.2;
}

.gesso-storybook-color-swatch__name {
  margin-block-end: rem(8px);
}

.gesso-storybook-color-swatch__hex {
  font-family: Menlo, Consolas, 'Lucida Console', 'Liberation Mono',
    'Courier New', monospace, sans-serif;
  font-size: rem(14px);
}

.gesso-storybook-color-swatch__sass-code {
  display: block;
  font-size: rem(12px);
  margin-block-start: rem(4px);
}

// Box Shadows
$shadow-swatch: rem(200px);
$shadow-gutter: rem(50px);

.gesso-storybook-box-shadow {
  display: flex;
  flex-wrap: wrap;
}

.gesso-storybook-box-shadow__item {
  display: flex;
  flex: 0 0 $shadow-swatch;
  height: $shadow-swatch;
  margin: 0 math.div($shadow-gutter, 2) $shadow-gutter;
  width: $shadow-swatch;
}

.gesso-storybook-box-shadow__label {
  margin: auto;
  padding: 1rem;
  text-align: center;
}

// Duration
$duration-swatch: rem(40px);

.gesso-storybook-duration {
  margin-block-end: 1rem;
}

.gesso-storybook-duration__help-text {
  margin-block-end: 1rem;
}

.gesso-storybook-duration__indicator {
  background-color: #666;
  border-radius: 50%;
  display: inline-block;
  height: $duration-swatch;
  margin-block-end: 2rem;
  position: relative;
  transition: all 2s ease-out;
  width: $duration-swatch;
}

.gesso-storybook-duration__item {
  flex: 0 0 rem(150px);
  padding: 1rem;
  text-align: center;
}

.gesso-storybook-duration__group {
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;

  &:hover {
    .gesso-storybook-duration__indicator {
      transform: scale(1.5);
    }
  }
}

// Easing
$easing-swatch: rem(75px);

.gesso-storybook-easing {
  background-color: #eee;
  padding: 1rem;
}

.gesso-storybook-easing__help-text {
  margin-block-end: 1rem;
}

.gesso-storybook-easing__indicator {
  background-color: #666;
  border-radius: 10%;
  height: $easing-swatch;
  inset-inline-start: 0;
  margin-block-end: 0.5rem;
  position: relative;
  transition-duration: 1s;
  transition-property: left;
  width: $easing-swatch;
}

.gesso-storybook-easing__item {
  margin-block-end: 1rem;
}

.gesso-storybook-easing__group {
  padding: 0 rem(150px) 0 1rem;

  &:hover {
    .gesso-storybook-easing__indicator {
      inset-inline-start: 100%;
    }
  }
}
