// Component: Toolbar Menu
// Used for overriding the toolbar module styles.

@use '00-config' as *;

ul.toolbar-menu {
  @include list-clean();

  li {
    margin-block-end: 0;
    padding-inline-start: 0;
  }
}
