// HTML Element: Inline Elements

@use '00-config' as *;

a:not(.usa-button, .c-button) {
  background-color: transparent;
  color: gesso-color(text, link);
  -webkit-text-decoration-skip: objects;
  transition-duration: gesso-duration(short);
  transition-property: background-color, border-color, color, outline-color;
  transition-timing-function: gesso-easing(ease-in);

  &:visited {
    color: gesso-color(text, link-visited);
  }

  &:hover,
  &:focus {
    color: gesso-color(text, link-hover);
  }

  &:active {
    color: gesso-color(text, link-active);
  }

  @media print {
    &,
    &:visited {
      text-decoration: none;
    }

    &[href]::after {
      content: ' <' attr(href) '>';
      font-family: font-family(body);
      font-size: 10pt;
      font-weight: normal;
      text-transform: lowercase;
    }

    // Uncomment and replace example.com with your site’s domain.
    //&[href^='/']::after {
    //  content: ' <http://example.com' attr(href) '>';
    //}

    &[href^='javascript:']::after,
    &[href^='mailto:']::after,
    &[href^='tel:']::after,
    &[href^='#']::after,
    &[href*='?']::after {
      content: '';
    }
  }
}

abbr {
  &[title] {
    border-block-end: 1px dotted;
    text-decoration: none;
  }

  &:hover {
    cursor: help;
  }

  @media print {
    &[title]::after {
      content: ' (' attr(title) ')';
    }
  }
}

// b {}

cite {
  @include display-text-style(cite);
}

// code {}

// del {}

dfn {
  font-style: normal;
}

// em {}

// i {}

// ins {}

// kbd {}

mark {
  background: #ff0;
  color: #000;
}

// q {}

// s {}

// samp {}

small {
  font-size: 80%;
}

// strong {}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  inset-block-end: -0.25em;
}

sup {
  inset-block-start: -0.5em;
}

// time {}

// u {}

var {
  font-style: normal;
}
