{#
/**
 * @file
 * Theme implementation for a field.
 *
 * This field template gets extended by fields that should display as a simple
 * field.
 */
#}
{% extends "field.html.twig" %}

{% set label_tag = 'strong' %}

{% set display_items_wrapper_tag = false %}
