{#
/**
 * @file
 * Theme implementation for a field.
 *
 * This field template gets extended by fields that shouldn't show a separator.
 */
#}
{% extends "field.html.twig" %}

{% set show_separator = false %}
