{% set classes = [
  'usa-accordion',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% if not accordion_id %}
  {% set accordion_id = 'accordion-'|clean_unique_id %}
{% endif %}

<div {{ add_attributes({ 'class': classes }) }}{% if is_multi_selectable %} data-allow-multiple{% endif %}>
  {% for item in accordion %}
    <h2 class="usa-accordion__heading">
      <button class="usa-accordion__button" aria-expanded="false" aria-controls="{{ accordion_id }}-a{{ loop.index }}">
        {{ item.title }}
      </button>
    </h2>
    <div id="{{ accordion_id }}-a{{ loop.index }}" class="usa-accordion__content">
      {{ item.content }}
    </div>
  {% endfor %}
</div>
