// Component: Button Group

@use '00-config' as *;

.c-button-group {
  display: flex;
  margin: rem(gesso-spacing(2)) 0;
}

.c-button-group__list {
  @include list-clean();
  display: flex;
  flex-direction: column;
  width: 100%;

  @include breakpoint(gesso-breakpoint(tablet)) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.c-button-group__item {
  margin: 0;

  &.is-active {
    z-index: 1;
  }

  &:hover,
  &:focus-within {
    z-index: 2;
  }

  .c-button-group__link {
    border-block-start-width: 0;
    border-radius: 0;

    @include breakpoint(gesso-breakpoint(tablet)) {
      border-block-start-width: $button-border-width;
      border-inline-start-width: 0;
    }
  }

  &:first-child {
    .c-button-group__link {
      border-block-start-width: $button-border-width;
      border-start-end-radius: $button-border-radius;
      border-start-start-radius: $button-border-radius;

      @include breakpoint(gesso-breakpoint(tablet)) {
        border-end-start-radius: $button-border-radius;
        border-inline-start-width: $button-border-width;
        border-start-end-radius: 0;
      }
    }
  }

  &:last-child {
    .c-button-group__link {
      border-end-end-radius: $button-border-radius;
      border-end-start-radius: $button-border-radius;

      @include breakpoint(gesso-breakpoint(tablet)) {
        border-end-start-radius: 0;
        border-start-end-radius: $button-border-radius;
      }
    }
  }
}

.c-button-group__link {
  margin: 0 !important;
  width: 100%;
}

.c-button-group--separated {
  @include breakpoint(gesso-breakpoint(tablet)) {
    .c-button-group__item {
      margin: rem(gesso-spacing('05'));

      .c-button-group__link {
        border-radius: $button-border-radius;
        border-width: $button-border-width;
      }
    }
  }
}

.c-button-group--segmented {
  .c-button-group__item {
    margin-block: -1px !important;

    &:first-child {
      margin-block-start: 0 !important;
    }

    &:last-child {
      margin-block-end: 0 !important;
    }
    @include breakpoint(gesso-breakpoint(tablet)) {
      margin-block: 0 !important;
      margin-inline: -1px !important;

      &:first-child {
        margin-inline-start: 0 !important;
      }

      &:last-child {
        margin-inline-end: 0 !important;
      }
    }
  }
}
