// Storybook: Easing

@use '00-config' as *;

$easing-swatch: rem(75px);

.gesso-storybook-easing {
  background-color: #eee;
  padding: 1rem;
}

.gesso-storybook-easing__help-text {
  margin-block-end: 1rem;
}

.gesso-storybook-easing__indicator {
  background-color: #666;
  border-radius: 10%;
  height: $easing-swatch;
  inset-inline-start: 0;
  margin-block-end: 0.5rem;
  position: relative;
  transition-duration: 1s;
  transition-property: left;
  width: $easing-swatch;
}

.gesso-storybook-easing__item {
  margin-block-end: 1rem;
}

.gesso-storybook-easing__group {
  padding: 0 rem(150px) 0 1rem;

  &:hover {
    .gesso-storybook-easing__indicator {
      inset-inline-start: 100%;
    }
  }
}
