// Layout: Inline Form

@use '00-config' as *;

.l-inline-form {
  @include breakpoint(gesso-breakpoint(tablet)) {
    display: flex;
    flex-wrap: wrap;
    gap: rem(gesso-spacing(2));

    > * {
      margin-block: 0 rem(gesso-spacing(2)) !important;
      margin-inline: 0;
    }
  }
}

.l-inline-form--no-wrap {
  @include breakpoint(gesso-breakpoint(tablet)) {
    flex-wrap: nowrap;

    > * {
      margin: 0 !important;
    }
  }
}
