{% set classes = [
  'c-article',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

<article {{ add_attributes({ 'class': classes }) }}>
  {{ title_prefix }}
  {% block title %}
    {% include '@components/page-title/page-title.twig' with {
      'page_title': title,
    } %}
  {% endblock %}
  {{ title_suffix }}

  {% if show_footer %}
    <footer class="c-article__footer">
      {% block footer %}
        {% if not date %}
          {% set date %}
            {% include '@components/date/date.twig' with {
              'date_format': date_format,
            } %}
          {% endset %}
        {% endif %}

        {% if not author %}
          {% set author %}
            {% include '@components/author/author.twig' with {
                'author': author_name,
              } %}
          {% endset %}
        {% endif %}

        {% include '@components/list/list.twig' with {
          'modifier_classes': 'c-list--pipeline',
          'list': [
            { 'content': date },
            { 'content': author },
          ]
        } %}

        {{ author_picture }}
        {{ rdf_metadata }}
      {% endblock %}
    </footer>
  {% endif %}

  {% block content %}
    {% include '@components/wysiwyg/wysiwyg.twig' with {
      'content': content,
    } %}
  {% endblock %}
</article>
