{% include '@templates/template-parts/messages-and-tabs/messages-and-tabs.twig' with {
  'is_published': is_published,
  'show_admin_info': show_admin_info,
  'admin_info': admin_info,
} %}

{{ title_prefix }}
{{ title_suffix }}

{% if not homepage_hero %}
  {% set homepage_hero %}
    {% include '@uswds/hero/hero.twig' with {
      'hero_image': hero_image,
      'hero_title': hero_title,
      'hero_summary': hero_summary,
      'hero_button_text': hero_button_text,
      'hero_button_url': hero_button_url,
    } %}
  {% endset %}
{% endif %}

{% set homepage_grid %}
  {% include '@layouts/grid/grid.twig' with {
    'num_of_cols': '2',
    'grid_content': homepage_grid_content,
  } %}
{% endset %}

{% include '@layouts/page-section/page-section.twig' with {
  'section_title': false,
  'section_content': homepage_hero,
} %}

{% include '@layouts/page-section/page-section.twig' with {
  'section_title': homepage_grid_title,
  'section_content': homepage_grid,
} %}
