// Utility: Alignment

@use '00-config' as *;

// Align items
.u-align-inline-end {
  @include breakpoint(gesso-breakpoint(tablet)) {
    @include layout-align-inline-end(rem(gesso-get-map(gutter-width)));
  }
}

.u-align-inline-start {
  @include breakpoint(gesso-breakpoint(tablet)) {
    @include layout-align-inline-start(rem(gesso-get-map(gutter-width)));
  }
}

.align-left,
.u-align-left {
  @include breakpoint(gesso-breakpoint(tablet)) {
    @include layout-align-left(rem(gesso-get-map(gutter-width)));
  }
}

.align-right,
.u-align-right {
  @include breakpoint(gesso-breakpoint(tablet)) {
    @include layout-align-right(rem(gesso-get-map(gutter-width)));
  }
}

.align-center,
.u-align-center {
  display: block;
  margin-inline: auto;
}

// Text alignment
.text-align-left,
.u-text-align-left,
.u-text-align-start {
  text-align: start;
}

.text-align-right,
.u-text-align-right,
.u-text-align-end {
  text-align: end;
}

.text-align-center,
.u-text-align-center {
  text-align: center;
}

.text-align-justify,
.u-text-align-justify {
  text-align: justify;
}

// Clear floats
.u-clear-both {
  clear: both;
}

.u-clear-inline-end {
  clear: inline-end;
}

.u-clear-inline-start {
  clear: inline-start;
}

.u-clear-left {
  clear: left;
}

.u-clear-right {
  clear: right;
}
