// Utility: Spaced
// Used for vertical spacing.

@use '00-config' as *;
$sizes: '05', 1, 1.5, 2, 2.5, 3, 4, 5;

@each $size in $sizes {
  .u-spaced-#{escape-number($size)},
  .u-spaced-#{escape-number($size)}-above {
    margin-block-start: #{rem(gesso-spacing($size))} !important;
  }

  .u-spaced-#{escape-number($size)},
  .u-spaced-#{escape-number($size)}-below {
    margin-block-end: #{rem(gesso-spacing($size))} !important;
  }
}

.u-spaced-none,
.u-spaced-none-above {
  margin-block-start: 0 !important;
}

.u-spaced-none,
.u-spaced-none-below {
  margin-block-end: 0 !important;
}
