{#
/**
 * @file
 * Theme implementation for a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
{% extends '@layouts/site-container/site-container.twig' %}

{% block site_content %}
  {% embed "@uswds/header/header.twig" with {
    'is_extended': page.secondary.content is empty
  } %}
    {% block content %}
      {{ page.header }}
      {% embed '@uswds/nav/nav.twig' with {
        'label': 'Primary navigation',
        'is_extended': page.secondary.content is empty
      } %}
        {% block content %}
          {{ page.navigation }}
          {{ page.secondary }}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}

  {# We have to manually wrap region content. #}
  {% include '@guswds/layout/region--breadcrumb.html.twig' with {
    'content': page.breadcrumb,
  } %}

  {# We have to manually wrap region content. #}
  {% include '@guswds/layout/region.html.twig' with {
    'region': 'highlighted',
    'content': page.highlighted,
  } %}

  {# We have to manually wrap region content. #}
  {% include '@guswds/layout/region.html.twig' with {
    'region': 'help',
    'content': page.help,
  } %}

  <main id="main" class="main" role="main" tabindex="-1">
    {# We have to manually wrap region content. #}
    {% include '@guswds/layout/region.html.twig' with {
      'region': 'preface',
      'content': page.preface,
    } %}

    {# page.content is missing page title. #}
    {% set content %}
      {{ page.title }}
    {% endset %}

    {# We have to manually wrap region content. #}
    {% include '@guswds/layout/region--content.html.twig' with {
      'content': content,
    } %}

    {# We have to manually wrap region content. #}
    {% include '@guswds/layout/region.html.twig' with {
      'region': 'postscript',
      'content': page.postscript,
    } %}
  </main>

  {% embed '@uswds/footer/footer.twig' with {
    has_back_to_top: true
  } %}
    {% block primary %}
      {{ page.footer }}
    {% endblock %}
    {% block secondary %}
      {{ page.subfooter }}
    {% endblock %}
  {% endembed %}

{% endblock %}
