{#
/**
 * @file
 * Theme implementation for a region.
 */
#}
{% if content %}
  {% embed '@uswds/navbar/navbar.twig' with {
    'attributes': attributes,
  } %}

    {% block content %}
      {{ content }}
    {% endblock %}

  {% endembed %}
{% endif %}
